#wrapper
{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  /*border: 1px solid black;*/
}
#run
{
  border:1px solid #555;
  text-align:center;
  padding:5px;
  margin:15px;
  background: #98d7ea;
}
#run:hover
{
  background: yellow;
  cursor:pointer;
}
#map
{
  border: 1px solid black;
  margin: 0 auto;
}
.run
{
  padding:5px;
  margin:15px;
}
body
{
  background: #00648c;
  font-family: 'Cuprum', sans-serif;
}
.header
{
  /*border: 1px solid black;*/
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.center
{
  text-align:center;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6
{
    text-align:left;
    margin-top:5px;
    margin-bottom:5px;
}
.mylist-wrapper
{
  display:inline-block;
  min-width:250px;
  /*border: 1px solid black;*/
}
.goods-list
{
  float:left;
  /*background-color: #a6d8ec;*/
}
.my-list
{
  float:right;
}

.my-list:before
{
  background-image: url(icon20.png);
}
.goods-list:before
{
  background-image: url(cart.png);
}

.my-list:hover, .goods-list:hover
{
	background-color: #bfe3f2;
}
.my-list, .goods-list
{
  padding:3px 9px 3px 3px;
  border-radius: 7px;
  cursor:pointer;
}

.goods-list:before, .my-list:before
{
  content:"";
  background-repeat:no-repeat;
  width: 20px;
  height: 20px;
  float: left;
}

.mylist-wrapper > h3
{
  display:inline;
}

.delete-good
{
  background-image: url(del.png);
  background-repeat:no-repeat;
  min-width: 16px;
  min-height: 16px;
  padding: 0px;
  margin-left:5px;
  display:inline-block;
  cursor:pointer;
  vertical-align:middle;
}
.hidden
{
  display:none;
}
.app-area-wrapper
{
  text-align: left;
  width: 80%;
  margin: 0 auto;
  background: #ddd;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-height:80vh;
  /*overflow: hidden;*/
}

.user-choice-area
{
  float: left;
  min-width:250px;
  /*border: 1px solid black;*/
}

.map-area
{
  float: right;
  /*width:79%;*/
}

.legend-area
{
  float: left;
  /*border: 1px solid #636060;*/
  padding: 5px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;                             
}
.legend-el
{
  margin: 5px;
  padding: 5px;
  border: 1px solid #e5e5de;
  border-radius: 3px;
  background: #bbccdd;
}

.h5 {
	cursor: pointer;
}
.h5:hover {
	background-color: #a6d8ec;
}
.h5.active {
	background: #a6d8ec;
}
.goods-items {
	display: none;
  margin-top:0px;
  margin-bottom:0px;
}
#tooltip 
{
  z-index: 99;
  border: 1px solid black;
  background: #fff;
  left: 0px;
  top: 0px;
  position:absolute;
}