#wrapper
{
  width: 90%;
  margin: 0 auto;
  /*padding: 10px;*/
  border: 1px solid black;
}
#run
{
  border:1px solid #555;
  text-align:center;
  padding:5px;
  background: #98d7ea;
}
#run:hover
{
  background: yellow;
  cursor:pointer;
}
#map
{
  border: 1px solid black;
  margin: 0 auto;
}
.run
{
  padding:5px;
  margin:15px;
}
body
{
  background: #00648c;
  font-family: 'Cuprum', sans-serif;
}
.header
{
  /*border: 1px solid black;*/
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
}
.center
{
  text-align:center;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6
{
    text-align:left;
    margin-top:5px;
    margin-bottom:5px;
}
.mylist-wrapper
{
  display:inline-block;
  min-width:250px;
  border: 1px solid black;
}

.top-button
{
  float:left;
  /*border: 1px solid black; */
  padding:3px 9px 3px 3px;
  border-radius: 7px;
  cursor:pointer;
  font-weight: bold;
  vertical-align:middle;
}

.top-button:before
{
  content:"";
  background-repeat:no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  vertical-align:middle;
}
.top-button:hover
{
	background-color: #bfe3f2;
}

/*
.goods-list
{

}

.my-list
{
  float:left;
  border: 1px solid black;
}

.clear-selection-button
{
  float:left;
  border: 1px solid black;
}*/

.my-list:before
{
  background-image: url(icon20.png);
}
.goods-list:before
{
  background-image: url(cart.png);
}
.clear-selection-button:before
{
  background-image: url(clear.png);
}
.save-button:before
{
  background-image: url(save.png);
}
.load-button:before
{
  background-image: url(load.png);
}

.delete-good
{
  background-image: url(del.png);
  background-repeat:no-repeat;
  min-width: 16px;
  min-height: 16px;
  padding: 0px;
  margin-left:5px;
  display:inline-block;
  cursor:pointer;
  vertical-align:middle;
}

.hidden
{
  display:none;
}
.app-area-wrapper
{
  text-align: left;
  width: 75%;
  min-width:270px;
  margin: 0 auto;
  background: #ddd;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-height:80vh;
  /*overflow: hidden;*/
}

.user-choice-area
{
  float: left;
  width:200px;
  margin:10px;
  /*margin-right:0;*/
  /*border: 1px solid black;*/
}

.map-area
{
  float: right;
  margin:10px;
  /*margin-left:30px;*/
  /*width:79%;*/
}

.legend-area
{
  float: right;
  /*border: 1px solid #636060;*/
  padding: 5px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;                             
}
.legend-el
{
  margin: 5px;
  padding: 5px;
  border: 1px solid #e5e5de;
  border-radius: 3px;
  background: #bbccdd;
}

.h5 {
	cursor: pointer;
}
.h5:hover {
	background-color: #a6d8ec;
}
.h5.active {
	background: #a6d8ec;
}
.goods-items {
	display: none;
  margin-top:0px;
  margin-bottom:0px;
}
#tooltip 
{
  border: 1px solid black;
  background: #fff;
  left: 0px;
  top: 0px;
  position:absolute;
}

.modal
{
  border:1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 3px;
	background: #eee;
	position: fixed;
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 10px;
  width: 200px; 
	height: 120px;
	margin-top: 30px;
}
#modal_close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
  text-align:center;
}
#overlay {
	z-index:3;
	position:fixed;
	background-color:#000;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
.modal-submit
{
  border: 1px solid black;
  border-radius:6px;
  padding:3px;
  cursor:pointer;
  font-weight: bold;
  text-align:center;
  margin: 0 auto;
  background-color:#93979e;
  width:80px;
  display:block;
}
.modal-result
{
  text-align:center;
  margin: 0 auto;
  width:190px;
  padding-top: 5px;
  display:block;
}
.margin-wrap
{
  margin-top:10px;
}
#lists-clear
{
  background-image: url(clear.png);
  background-repeat:no-repeat;
  width: 20px;
  height: 20px;
  vertical-align:bottom;
  margin-left:15px;
  display:inline-block;
  cursor:pointer;
}
#my-saved-lists{
  margin-top:10px;
}